<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <%= render 'layouts/errors', obj: @book %>
    <div class="row">
      <%= render 'books/book', book: @book %>
      <div class="col-md-8 offset-md-1">
        <h2>Group Detail</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>グループ名</th>
              <th>紹介文</th>
              <th>メンバー</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                  <%= image_tag @group.get_image(100, 100) %>
              </td>
              <td><%= @group.name %></td>
              <td><%= @group.introduction %></td>
              <td>
                <% @group.users.each do |user| %>
                  <%= user.name %><br>
                <% end %>
              </td>
                <% if @group.is_owned_by?(current_user) %>
                  <td>
                    <%= link_to "Edit", edit_group_path(@group), class: "btn btn-success" %>
                    <%= link_to "Destroy", group_path(@group), method: :delete, class: "btn btn-danger ml-3" %>
                  </td>
                  <td><%= link_to "Notice an Event", new_group_event_path(@group), class: "btn btn-info" %></td>
                <% elsif @group.includesUser?(current_user) %>
                  <%= link_to 'Leave This Group', group_group_users_path(@group), method: :delete, class: "btn btn-danger" %>
                <% else %>
                  <%= link_to 'Join This Group', group_group_users_path(@group), method: :post, class: "btn btn-success" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
