<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
          <%= @user.name %> さんとのチャット
        </h1>
        <div class="message mt-5" style="width: 400px; background-color:#f5f5f5;">
          <% @chats.each do |chat| %>
            <% if chat.user_id == current_user.id %>
              <p style="text-align: right;"><%= chat.message %></p>
            <% else %>
              <p style="text-align: left;"><%= chat.message %></p>
            <% end %>
          <% end %>
        </div>
        <%= form_with model: @chat, data: {remote: true} do |f| %>
          <%= f.text_field :message %>
          <%= f.hidden_field :room_id %>
        <% end %>
        <div class="errors">
          <%= render "layouts/errors", obj: @chat %>
        </div>
      </div>
    </div>
  </div>
</main>
